img{
    height: 300px;
    width: 300px;
}

p, ol, ul{
    width: 600px; 
}

 h1,h2,h3, .section   {
    display: flex;
    justify-content: center;
    align-items: center ;
 }

 .btn{
    background-color: greenyellow ;
    color: black;
    width: 120px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px ;
 }